.shark1 {
  position: absolute;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
    right:-500px;
    bottom:-50px;
  }
  100% {
    right:1500px;
    bottom:-50px;
  }
}

.shark2 {
  position: absolute;
  animation-duration: 1s;
  animation-name: jumping;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition-timing-function: ease-out;
}
@keyframes jumping {
  0%, 100% {
    right:50px;
    bottom:-30px;
  }
      
  50% {
    right:50px;
    bottom:-0;
  }
}

.shark3 {
  position: absolute;
  animation-duration: 0.1s;
  animation-name: bingle;
  animation-iteration-count: infinite;
}
@keyframes bingle {
  0% {
    left:50px;
    bottom:-30px;
    transform: rotate(0);
  }
  100% {
    left:50px;
    bottom:-30px;
    transform: rotate(360deg);
  }
}